[Global]
# Path to the logfile (name of logfile is attached by the API)
# For unix:
Logpath = /tmp
# For windows:
#Logpath = C:/ProgramData/Utimaco/PKCS11_R2

# Loglevel (0 = NONE; 1 = ERROR; 2 = WARNING; 3 = INFO; 4 = TRACE)
Logging = 2
# Maximum size of the logfile in bytes (file is rotated with a backupfile if full)
Logsize = 10mb

# If true, key handles of created/generated keys are random
RandomizeKeyHandles = false

# If true, every session establishs its own connection
SlotMultiSession = true

# Maximum number of slots that can be used
SlotCount = 10

# If true, leading zeroes of decryption operations will be kept
KeepLeadZeros = false

# Configures load balancing mode ( == 0 ) or failover mode ( > 0 )
FallbackInterval = 0

# Prevents expiring session after inactivity of 15 minutes
KeepAlive = true

# Timeout of the open connection command in ms
ConnectionTimeout = 5000

# Timeout of command execution in ms
CommandTimeout = 60000

# List of official PKCS#11 mechanisms which should be customized
#CustomMechanisms = { CKM_AES_CBC CKM_AES_ECB }

[CryptoServer]
# Device specifier (here: CryptoServer is CSLAN with hostname hsm-device)
Device = 288@172.17.244.131

#[Slot]
# Slotsection for slot with number 0
#SlotNumber = 0
